.stroke-color {
  flood-color: #fff;
}

.bevel-color {
  flood-color: #ff2a2a;
}

.text-color {
  fill: #0088aa;
}

.svg-text {
  transform: rotate(-3deg);
  font-family: "Lilita One";
  font-size: 4rem;
  text-anchor: middle;
  dominant-baseline: middle;
  filter: url(#bevel);
}
