#app-bg {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("./img/battleShipPattern_200px_light65.png");
  background-repeat: repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.btn-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-top: -0.5rem;
  > * {
    flex: none;
    font-family: "Lilita One";
    font-size: 1rem;
  }
  > button,
  a {
    padding: 0.2rem 0.5rem;
    color: var(--blue);
    background-color: white;
    border: 2px solid var(--blue);
    border-radius: 10px;
    margin-left: 0.7rem;
  }
}

#ai-label {
  color: gray;
  border: 2px solid gray;

  margin-left: 0;
  padding: 0.2rem 0.5rem;
  border-radius: 10px;

  background-color: white;
}

#ai-label.on {
  color: var(--red);
  border: 2px solid var(--red);
}
